body{
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: aquamarine;
    margin: 30px 0 50px;
}
.gallery{
    margin: 10px 150px;
}
.gallery img{
    width: 230px;
    padding: 5px;
    transition: 1s;
}
.gallery img:hover{
    transform: scale(1.1);
}
